project_id = "qajegkbvbpekdggtrupv"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "ipv6"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://localhost:3000"]
jwt_expiry = 3600
enable_signup = true
enable_anonymous_sign_ins = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[edge_runtime]
enabled = true
ip_version = "ipv6"

[functions.send-booking-webhook]
verify_jwt = false

[functions.gocardless-webhook]
verify_jwt = false

[functions.validate-bogof-eligibility]
verify_jwt = false

[functions.generate-invoice]
verify_jwt = false

[functions.test-gocardless-webhook]
verify_jwt = false

[functions.ghl-business-webhook]
verify_jwt = false

[functions.sync-business-to-ghl]
verify_jwt = false

[functions.test-ghl-outbound]
verify_jwt = false

[functions.pull-ghl-contacts]
verify_jwt = false

[functions.submit-discover-form]
verify_jwt = false
